:root {
  --scrollbar: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: calc(100vw - var(--scrollbar));
}

header {
  background-color: #da8e42;
  height: 40px;
  width: 100%;
  position: sticky;
  z-index: 10000;
  top: 0;
}
header .wrap {
  margin: 0 20px;
  position: relative;
  z-index: 10;
}
@media (min-width: 960px) {
  header .wrap {
    margin: 0 50px;
  }
}
header .wrap .shop-name {
  color: #1E1C1C;
  font-family: "Cormorant Garamond", "Libre Caslon Display", "Playfair Display", "EB Garamond", garamond, times, serif;
  font-size: 24px;
  letter-spacing: 3.76px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  top: 10px;
  transition-duration: 300ms;
}
@media (min-width: 960px) {
  header .wrap .shop-name:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.1);
  }
}
header .wrap .nav-list {
  opacity: 0;
  visibility: hidden;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  top: 120px;
}
@media (min-width: 960px) {
  header .wrap .nav-list {
    opacity: 1;
    visibility: visible;
    flex-direction: row;
    gap: 20px;
    top: 12px;
    right: 0;
  }
}
header .wrap .nav-list-item {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #808080;
  text-decoration: none;
  transition-duration: 300ms;
}
@media (min-width: 960px) {
  header .wrap .nav-list-item:hover {
    cursor: pointer;
    color: #1E1C1C;
    transform: scale(1.1);
  }
}
@media (min-width: 960px) {
  header .wrap .nav-list-item {
    color: white;
    font-size: 16px;
    font-weight: 400;
  }
}
header .wrap #ham-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 18px;
  position: absolute;
  top: 12px;
  right: 0;
}
@media (min-width: 960px) {
  header .wrap #ham-menu {
    opacity: 0;
    visibility: hidden;
  }
}
header .wrap .ham-line {
  width: 100%;
  height: 1px;
  background-color: #1E1C1C;
}
header .wrap .ham-line-upper {
  rotate: 0;
  transform-origin: center;
  translate: 0 0;
}
header .wrap .ham-line-bottom {
  rotate: 0;
  transform-origin: center;
  translate: 0 0;
}
header .wrap .ham-line-cnter {
  opacity: 1;
}

main {
  width: 100%;
}
main .section-title, main .menu-topic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #808080;
}
main #main-visual {
  width: 100%;
  height: 100vh;
  background-image: url(../images/mylene-larnaud-SI2J3XqmAyo-unsplash.jpg);
  background-size: cover;
}
@media (min-width: 960px) {
  main #main-visual {
    background-position: center;
  }
}
main .section-title {
  font-weight: 400;
  font-size: 24px;
  color: #808080;
  letter-spacing: 3px;
  text-align: center;
}
@media (min-width: 960px) {
  main .section-title {
    font-size: 64px;
  }
}
main #menu {
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}
@media (min-width: 960px) {
  main #menu .menu-item-container {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 40px;
  }
}
main #menu .menu-item-container .menu-item {
  width: 80vw;
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 960px) {
  main #menu .menu-item-container .menu-item {
    width: auto;
    height: auto;
    max-width: 100%;
  }
}
@media (min-width: 960px) {
  main #menu .menu-item-container .menu-item .menu-img {
    height: auto;
    aspect-ratio: 1/1;
  }
}
@media (min-width: 960px) {
  main #menu .menu-item-container .big-box {
    grid-row: 1/2;
    grid-column: 1/3;
    width: 100%;
  }
}
@media (min-width: 960px) {
  main #menu .menu-item-container .big-box .menu-img {
    height: auto;
    aspect-ratio: 5/3;
  }
}
@media (min-width: 960px) {
  main #menu .menu-item-container .last-box {
    order: 5;
  }
}
main #menu .menu-item-container .menu-topic {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 25px;
}
main #menu .menu-item-container .menu-recommendation .menu-topic {
  color: #da8e42;
}
main #menu .menu-item-container .menu-seasonal .menu-topic {
  color: #1E1C1C;
}
main #menu .menu-item-container .menu-img {
  width: 100%;
  height: 210px;
  margin-bottom: 6px;
}
main #menu .menu-item-container .menu-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
main #menu .menu-item-container #menu-img-3 {
  -o-object-position: left -30px;
     object-position: left -30px;
}
@media (min-width: 960px) {
  main #menu .menu-item-container #menu-img-3 {
    -o-object-position: center;
       object-position: center;
  }
}
main #menu .menu-item-container .menu-text-box {
  margin: 0 5px;
}
main #menu .menu-item-container .menu-text-box .menu-text {
  font-family: "Noto Sans JP", serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 26px;
  color: #1E1C1C;
}
main #menu .menu-item-container .menu-text-box .commodity-box {
  display: flex;
  flex-direction: column;
}
main #menu .menu-item-container .menu-text-box .commodity-box .commodity-name {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 5px;
  letter-spacing: 1.4px;
}
main #menu .menu-item-container .menu-text-box .commodity-box .commodity-price {
  border-bottom: 1px solid #1E1C1C;
  text-align: end;
  padding-right: 20px;
  letter-spacing: 2px;
}
main #menu .menu-item-container .menu-text-box .commodity-text {
  margin-top: 10px;
}
main #menu .and-more {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.6px;
  line-height: 32px;
  margin-top: 160px;
  text-align: center;
}
main #about {
  width: 100%;
  padding-bottom: 100px;
  padding-top: 50px;
  background-color: #FFF5EA;
}
@media (min-width: 960px) {
  main #about {
    padding: 50px 25% 100px;
  }
}
@media (min-width: 960px) {
  main #about .about-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
  }
}
main #about .about-item {
  width: 100%;
  height: 410px;
  margin-top: 30px;
}
main #about .about-item .about-img img {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 960px) {
  main #about .about-item .about-img img {
    border-radius: 10px;
  }
}
@media (min-width: 960px) {
  main #about .about-item .about-img-left {
    height: 55vh;
  }
}
@media (min-width: 960px) {
  main #about .about-item .about-img-right {
    height: 40vh;
    margin-top: 10px;
  }
}
main #about .about-item #about-img-1 {
  -o-object-position: 0 -150px;
     object-position: 0 -150px;
}
@media (min-width: 600px) {
  main #about .about-item #about-img-1 {
    -o-object-position: 0 -400px;
       object-position: 0 -400px;
  }
}
@media (min-width: 960px) {
  main #about .about-item #about-img-1 {
    -o-object-position: center;
       object-position: center;
    height: 100%;
  }
}
main #about .about-item #about-img-2 {
  -o-object-position: 0 -70px;
     object-position: 0 -70px;
}
@media (min-width: 480px) {
  main #about .about-item #about-img-2 {
    -o-object-position: 0 -100px;
       object-position: 0 -100px;
  }
}
@media (min-width: 600px) {
  main #about .about-item #about-img-2 {
    -o-object-position: 0 -200px;
       object-position: 0 -200px;
  }
}
@media (min-width: 960px) {
  main #about .about-item #about-img-2 {
    -o-object-position: 0 center;
       object-position: 0 center;
    height: 100%;
  }
}
main #about .about-item .about-text {
  font-family: "Noto Sans JP", serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 26px;
  color: #1E1C1C;
  width: 80vw;
  max-width: 500px;
  margin: 10px auto 0;
  padding: 0 10px 0;
}
@media (min-width: 960px) {
  main #about .about-item .about-text {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 960px) {
  main #about .about-item-left {
    width: 55%;
    height: auto;
  }
}
@media (min-width: 960px) {
  main #about .about-item-right {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }
}
main #access {
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}
@media (min-width: 960px) {
  main #access {
    padding-bottom: 100px;
  }
}
main #access .access-container {
  padding: 0 0%;
  width: 100%;
}
@media (min-width: 960px) {
  main #access .access-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
main #access #map {
  width: 80vw;
  max-width: 500px;
  height: 300px;
  margin: 50px auto 0;
  border: 2px solid black;
  border-radius: 10px;
  filter: sepia(35%);
}
@media (min-width: 960px) {
  main #access #map {
    width: 60%;
    max-width: 60%;
    margin: 50px 0 0;
  }
}
main #access #map > iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
main #access .access-article {
  width: 80vw;
  max-width: 500px;
  margin: 20px auto 0;
}
@media (min-width: 960px) {
  main #access .access-article {
    width: 40%;
    max-width: 40%;
    margin: auto 0;
  }
}
main #access .access-article .access-text {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 26px;
  color: #1E1C1C;
}
main #access .access-article .access-text:nth-child(even) {
  margin-left: 16px;
}
main #access .access-article .a-t-uline {
  margin-top: 30px;
  border-bottom: 1px solid #1E1C1C;
  display: inline-block;
}
main #contact {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  padding-top: 50px;
  background-color: #FFF5EA;
}
main #contact .contact-article {
  display: block;
  width: 80vw;
  max-width: 500px;
  margin: 30px auto 0;
}
main #contact .contact-article .contact-text {
  text-align: center;
  margin-top: 40px;
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 30px;
  color: #1E1C1C;
}
main #contact .contact-article .holiday:last-child, main #contact .contact-article :nth-last-child(2) {
  margin-top: 8px;
}
main #contact .recruit-btn {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.3px;
  line-height: 56px;
  color: #1E1C1C;
  width: 270px;
  height: 60px;
  display: block;
  text-decoration: none;
  margin: 80px auto 0;
  text-align: center;
  background-color: rgb(212, 226, 247);
  display: block;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

footer {
  background-color: white;
  width: 100%;
  height: 250px;
  padding: 20px;
  position: relative;
}
@media (min-width: 960px) {
  footer {
    height: 400px;
  }
}
footer .shop-name {
  color: #1E1C1C;
  font-family: "Cormorant Garamond", "Libre Caslon Display", "Playfair Display", "EB Garamond", garamond, times, serif;
  font-size: 20px;
  letter-spacing: 3.76px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}
@media (min-width: 960px) {
  footer .shop-name {
    font-size: 36px;
    left: 40px;
  }
}
footer .sns-icons {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 134px;
  height: 18px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 960px) {
  footer .sns-icons {
    width: 200px;
    height: 30px;
    right: 40px;
  }
}
footer .sns-icons > a > img {
  transition-duration: 300ms;
  aspect-ratio: 1/1;
  height: 100%;
  width: auto;
  margin: auto 0;
}
@media (min-width: 960px) {
  footer .sns-icons > a > img:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
footer .copy {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  font-family: "Noto Sans JP", serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3.76px;
  line-height: 20px;
  color: #1E1C1C;
}
@media (min-width: 960px) {
  footer .copy {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */